table {
    width: 100%;
}
table tr td {
    padding: 3px 5px 5px 5px;
}
form .hidden {
    display: none;
}
.modal-title {
    width: 360px;
}

.swiper-slide {
    display:flex;
    align-items: center;
    justify-content:center;
    background: none;
}

p.not-found-title {
    font-size: 53px;
    font-weight: bold;
}

p.not-found-description {
    font-size: 37px;
}

@media (width < 960px) {
    p.not-found-title {
        font-size: 37px;
        font-weight: bold;
    }

    p.not-found-description {
        font-size: 25px;
    }
}