table {
    width: 100%;
}
table tr td {
    padding: 3px 5px 5px 5px;
}
form .hidden {
    display: none;
}
.modal-title {
    width: 360px;
}

.swiper-slide {
    display:flex;
    align-items: center;
    justify-content:center;
    background: #f3f3f3;
}