@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(47, 129, 192, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(47, 129, 192, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(47, 129, 192, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(47, 129, 192, 0.4);
        box-shadow: 0 0 0 0 rgba(47, 129, 192, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(47, 129, 192, 0);
        box-shadow: 0 0 0 10px rgba(47, 129, 192, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(47, 129, 192, 0);
        box-shadow: 0 0 0 0 rgba(47, 129, 192, 0);
    }
}

.contacts-map {
    display: flex;
    justify-content: center;
}
.contacts-map .map-level {
    border: 1px solid var(--color-background);
    width: 50%;
    position: relative;
}

.contacts-map .map-level .map-title {
    text-align: center;
    font-weight: bold;
    font-size: 37px;
}
.contacts-map .second-map {
    margin-left: 30px;
}
.contacts-map .map-level img {
    max-width: 100%;
}

.map-point {
    display: block;
    position: absolute;
    padding-top: 6px;
    cursor: pointer;
    margin-top: 25px;
}

.point-title {
    position: absolute;
    line-height: 13px;
    width: 50px;
}

.point-title::before {
    content: '';
    width: 5px;
    height: 5px;
    display: block;
    border-radius: 50%;
    background-color: var(--color-blue-primary);
    margin-bottom: 2px;
    animation: pulse 2s infinite;
}

.point-title:hover::before {
    animation: none;
}

.point-title:hover {
    cursor: pointer;
}

.point-title:hover + .map-point .point-content-wrapper {
    display: block;
}

.point-content-wrapper {
    display: none;
    width: max-content;
    background: white;
    position: absolute;
    z-index: 1;
    padding: 10px;
    line-height: 30px;
    margin-left: -40px;
    max-width: 360px;
    border: 1px solid var(--color-background);
    font-size: 0.8em;
}

.point-content-wrapper a {
    text-decoration: none;
    color: var(--color-link);
}

.point-content-wrapper a:hover {
    text-decoration: none;
    color: var(--color-link-hover);
}

.point-content-wrapper:hover {
    display: block;
}

.map-point .point-content-image {
    width: 70px;
}

.map-point .point-content-image img {
    max-width: 100%;
}

.point-title {
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 5px;
    display: inline-block;
}

@media (width < 980px) {
    .contacts-map {
        display: grid;
    }
    .contacts-map .map-level {
        width: 100%;
    }

    .contacts-map .second-map {
        margin-left: 0;
    }
    .contacts-map .map-level .map-title{
        font-size: 27px;
        text-align: left;
    }

    .point-title {
        font-size: 10px;
        line-height: 13px;
    }

    .map-point {
        margin-top: 13px;
        left: 0 !important;
    }

    .map-point:hover .point-title {
        position: absolute;
        font-size: 10px;
    }

    .point-content-wrapper {
        min-width: 360px;
        margin-left: 0;
        box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
        border-radius: 0 0 10px 10px;
        transform: translateY(25px);
        margin-top: -25px;
    }
    .map-point .point-content-wrapper {
        margin-left: 0;
    }
}

