{% extends 'base.html.twig' %}

{% block title %}Downloads{% endblock %}

{% block left_sidebar %}
{% endblock %}

{% block body %}
    <main class="main">
        <div class="container">

            <div class="layout-full">
                {% include 'blocks/breadcrumbs.html.twig' with {'breadcrumbs': build_breadcrumbs('Downloads', null)} %}
                <h1 class="main-title">Downloads</h1>
                <div class="downloads">
                    {% for download in downloads %}
                        <div class="downloads-item">
                            <a class="downloads-item-link" href="{{ path('app_download_file', {'id' : download.id}) }}" target="_blank">
                                <div class="downloads-item-image">
                                    <img src="{{ asset('uploads/download_preview/' ~ download.preview ) }}" alt="{{ download.fileName }}">
                                </div>

                                <div class="downloads-item-title">
                                    {{ download.fileName }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </main>


{% endblock %}
