{% extends 'base.html.twig' %}

{% block title %}Company News{% endblock %}

{% block body %}
    <main class="main">
        <div class="container">
            <div class="layout-full">
                {% include 'blocks/breadcrumbs.html.twig' with {'breadcrumbs': build_news_breadcrumbs('Company news', null)} %}

                <h1 class="main-title">Company News</h1>

                <div class="article-list">
                    {% for item in pagination.items|slice(0, 3) %}
                        {% include 'blocks/media_center/article_item__block.html.twig' with {'item': item} %}
                    {% endfor %}
                </div>

                <div class="article-grid">
                    {% for item in pagination.items|slice(3, 6) %}
                        {% include 'blocks/media_center/article_item__block.html.twig' with {'item': item} %}
                    {% endfor %}
                </div>

                <div class="article-grid article-grid--alt">
                    {% for item in pagination.items|slice(9, 1) %}
                        {% include 'blocks/media_center/article_item__block.html.twig' with {'item': item} %}
                    {% endfor %}
                    {% for item in pagination.items|slice(10, 3) %}
                        {% include 'blocks/media_center/article_item__block.html.twig' with {'withoutImage': true, 'item': item} %}
                    {% endfor %}
                </div>
                {% include 'blocks/pagination.html.twig' with {'pagination': pagination, 'route': 'app_article_index'} %}
            </div>

        </div>
    </main>
{% endblock %}
