{% extends 'base.html.twig' %}

{% block title %}{{ media.title }}{% endblock %}

{% block body %}
    <div class="container">
        {% include 'blocks/breadcrumbs.html.twig' with {'breadcrumbs': build_breadcrumbs(media)} %}

        <h1>{{ media.title }}</h1>
    </div>
{% endblock %}
