{% extends 'base.html.twig' %}

{% block title %}Media center{% endblock %}

{% block body %}
    <main class="main">
        <header class="main-lead">
            {% include 'blocks/breadcrumbs.html.twig' with {'breadcrumbs': build_breadcrumbs('Media center', null)} %}
            <h1 class="main-title">Media center</h1>
        </header>
        <div class="container">
            <div class="layout-full">
                {# Upcoming events #}
                {% if events %}
                <section class="section-events">
                    <h2 class="section-title">Upcoming events</h2>
                    <div class="event-cards event-cards--list">
                        <div class="event-cards-wrapper">
                            {% for event in events %}
                                {% include 'blocks/media_center/event_item__block.html.twig' with {'item': event} %}
                            {% endfor %}
                        </div>
                        <div class="section-action">
                            <a class="button button--secondary button--block" href="{{ path('app_event_index') }}">All events</a>
                        </div>
                    </div>
                </section>
                {% endif %}

                {# Company News #}

                {% if news %}
                <section class="section-news">
                    <h2 class="section-title">Company News</h2>

                    <div class="article-list">
                        {% for item in news|slice(0, 1) %}
                            {% include 'blocks/media_center/article_item__block.html.twig' with {'item': item} %}
                        {% endfor %}
                    </div>

                    <div class="article-grid">
                        {% for item in news|slice(1, 3) %}
                            {% include 'blocks/media_center/article_item__block.html.twig' with {'item': item} %}
                        {% endfor %}
                    </div>

                    <div class="section-action">
                        <a class="button button--secondary button--block" href="{{ path('app_article_index') }}">All news</a>
                    </div>
                </section>
                {% endif %}

                {% if media %}
                    <section class="sesction-media">
                        <h2 class="section-title">Photo & Video</h2>
                        {% include 'blocks/media_center/photo_item__block.html.twig' with {'media': media} %}
                        <div class="section-action">
                            <a class="button button--secondary button--block" href="{{ path('app_photo_and_video_index') }}">All photo & video</a>
                        </div>
                    </section>
                {% endif %}
            </div>

        </div>
    </main>

{% endblock %}
