{% extends 'base.html.twig' %}

{% block title %}{{ media.title }}{% endblock %}

{% block body %}
    <main class="main">
        <div class="container">

            <div class="layout-full">

                <div class="post">

                    {% include 'blocks/breadcrumbs.html.twig' with {'breadcrumbs': build_media_breadcrumbs(media.title)} %}


                    <h1 class="main-title">{{ media.title }}</h1>

                    <div class="post-content">
                        <p>We know our products and services are substantial key for the growth of the business of our clients and are working constantly to provide turn key solutions to share our enthusiasm to our customers. </p>

                        <p>
                            <img src="/images/_temp/photo-2.jpg" alt="">
                        </p>

                        <p>We know our products and services are substantial key for the growth of the business of our clients and are working constantly to provide turn key solutions to share our enthusiasm to our customers. </p>

                        <p class="post-image">
                            <img src="/images/_temp/photo-3.jpg" alt="">
                        </p>

                        <p class="post-image">
                            <img src="/images/_temp/photo-2.jpg" alt="">
                        </p>

                        <p class="post-image">
                            <img src="/images/_temp/photo-3.jpg" alt="">
                        </p>
                    </div>

                    {% if otherPhotos %}
                    <div class="post-more">
                        <div class="caption">View more</div>
                        {% for otherPhoto in otherPhotos %}
                            {% include 'blocks/media_center/photo_item__block.html.twig' with {'media': otherPhoto} %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </main>
{% endblock %}
