{% extends 'base.html.twig' %}

{% block title %}Photo & Video{% endblock %}

{% block body %}
    <main class="main">
        <div class="container">
            <div class="layout-full">
                {% include 'blocks/breadcrumbs.html.twig' with {'breadcrumbs': build_media_breadcrumbs('Photo & Video')} %}
                <h1 class="main-title">Photo & Video</h1>
                <div class="media-list">
                    {% for item in pagination.items %}
                        {% include 'blocks/media_center/photo_item__block.html.twig' with {'media': item} %}
                    {% endfor %}
                </div>
                {% include 'blocks/pagination.html.twig' with {'pagination': pagination, 'route': 'app_photo_and_video_index'} %}
            </div>
        </div>
    </main>


{% endblock %}
