
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.idea
docker-compose.override.yml
.env
.htaccess
public/uploads/application/*
!public/uploads/application/.gitkeeper
public/uploads/event_preview/*
!public/uploads/event_preview/.gitkeeper
public/uploads/news_preview/*
!public/uploads/news_preview/.gitkeeper
public/uploads/product/*
!public/uploads/product/.gitkeeper
public/uploads/slider/*
!public/uploads/slider/.gitkeeper
public/uploads/technology/*
!public/uploads/technology/.gitkeeper
public/uploads/tiny/*
!public/uploads/tiny/.gitkeeper
public/uploads/partner/*
!public/uploads/partner/.gitkeeper
public/uploads/membership/*
!public/uploads/membership/.gitkeeper
public/uploads/images/*
public/uploads/download_preview/*
!public/uploads/download_preview/.gitkeeper
public/uploads/download/*
!public/uploads/download/.gitkeeper
public/uploads/media_preview/*
!public/uploads/media_preview/.gitkeeper
public/uploads/main/*
!public/uploads/main/.gitkeeper
public/uploads/product_category/*
!public/uploads/product_category/.gitkeeper
public/uploads/files/*
!public/uploads/files/.gitkeeper
### docker