{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
{% endblock %}

{% block body %}
    <main class="main">
        <div class="container">
            <div class="layout">
                <div class="layout-content">
                    {% include 'blocks/breadcrumbs.html.twig' with {'breadcrumbs': build_breadcrumbs(technology.name, technology)} %}
                    <h1 class="main-title">{{ technology.name }}</h1>
                    {% include 'blocks/current_level_menu.html.twig' with {'currentLevelMenuItems': generate_technology_category_one_level_menu(technology)} %}

                    <div class="content">
                        {{ technology.content|raw }}
                    </div>

                    {% include 'blocks/technology/technology_cards_block.html.twig' with {'technologies': technology.children} %}
                    {% include 'blocks/product/list_card_section.html.twig' with {'sectionName': 'Vacuum Coating Systems', 'products': products} %}
                </div>

                {% include 'menu/left_sidebar.html.twig' with {'menu': generate_technology_category_menu() } %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var slidePerView = 3;
        if ($(window).width() < 980) {
            slidePerView = 1;
        }
        var swiper4 = new Swiper(".listing-slide", {
            slidesPerView: slidePerView,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
{% endblock %}