<main class="main">
  <header class="main-lead">
    <nav class="breadcrumb" aria-label="breadcrumb">
      <ol class="breadcrumb-list">
        <li class="breadcrumb-item">
          <a class="breadcrumb-link" href="#">I-Photonics</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          Media center
        </li>
      </ol>
    </nav>

    <h1 class="main-title">Media center</h1>
  </header>

  <div class="container">

    <div class="layout-full">

      {# Upcoming events #}

      <section class="section-events">
        <h2 class="section-title">Upcoming events</h2>

        <div class="event-cards event-cards--list">
          <div class="event-cards-wrapper">
            <div class="event-card">
              <div class="event-card-image">
                <img src="/images/_temp/event-1.jpg" width="620" height="504" alt="" loading="lazy">
              </div>

              <div class="event-card-info">
                <h2 class="event-card-title">
                  <a class="event-card-link" href="#">W3+Fair Wetzlar 2024</a>
                </h2>

                <div class="event-card-desc">
                  <p class="event-card-text">
                    Wetzlar, Germany. We know our products and services are substantial key for the growth of the business of our clients and are working constantly to provide turn key solutions to share our enthusiasm to our customers.
                  </p>

                  <p class="event-card-date">13 - 14 March 2024</p>
                </div>
              </div>
            </div>

            <div class="event-card">
              <div class="event-card-image">
                <img src="/images/_temp/event-1.jpg" width="620" height="504" alt="" loading="lazy">
              </div>

              <div class="event-card-info">
                <h2 class="event-card-title">
                  <a class="event-card-link" href="#">W3+Fair Wetzlar 2024</a>
                </h2>

                <div class="event-card-desc">
                  <p class="event-card-text">
                    Wetzlar, Germany. We know our products and services are substantial key for the growth of the business of our clients and are working constantly to provide turn key solutions to share our enthusiasm to our customers.
                  </p>

                  <p class="event-card-date">13 - 14 March 2024</p>
                </div>
              </div>
            </div>

            <div class="event-card">
              <div class="event-card-image">
                <img src="/images/_temp/event-1.jpg" width="620" height="504" alt="" loading="lazy">
              </div>

              <div class="event-card-info">
                <h2 class="event-card-title">
                  <a class="event-card-link" href="#">W3+Fair Wetzlar 2024</a>
                </h2>

                <div class="event-card-desc">
                  <p class="event-card-text">
                    Wetzlar, Germany. We know our products and services are substantial key for the growth of the business of our clients and are working constantly to provide turn key solutions to share our enthusiasm to our customers.
                  </p>

                  <p class="event-card-date">13 - 14 March 2024</p>
                </div>
              </div>
            </div>

            <div class="event-card">
              <div class="event-card-image">
                <img src="/images/_temp/event-1.jpg" width="620" height="504" alt="" loading="lazy">
              </div>

              <div class="event-card-info">
                <h2 class="event-card-title">
                  <a class="event-card-link" href="#">W3+Fair Wetzlar 2024</a>
                </h2>

                <div class="event-card-desc">
                  <p class="event-card-text">
                    Wetzlar, Germany. We know our products and services are substantial key for the growth of the business of our clients and are working constantly to provide turn key solutions to share our enthusiasm to our customers.
                  </p>

                  <p class="event-card-date">13 - 14 March 2024</p>
                </div>
              </div>
            </div>
          </div>

          <div class="section-action">
            <a class="button button--secondary button--block" href="#">All events</a>
          </div>
        </div>
      </section>

      {# Company News #}

      <section class="section-news">
        <h2 class="section-title">Company News</h2>

        <div class="article-list">
          <article class="article">
            <div class="article-image">
              <img src="/images/_temp/news-1.jpg" alt="">
            </div>

            <div class="article-info">
              <h3 class="article-title">
                <a class="article-link" href="#">
                  The 11th International Symposium on Optronics in Defense & Security
                </a>
              </h3>
              <p class="article-desc">
                Amidst the year-end hustle, let's take a moment to appreciate the highs and relish the successes that have defined our journey journey
              </p>
              <time class="article-date" datetime="2024-01-24">
                24.01.2024
              </time>
            </div>
          </article>
        </div>

        <div class="article-grid">
          <article class="article">
            <div class="article-image">
              <img src="/images/_temp/news-1.jpg" alt="">
            </div>

            <div class="article-info">
              <h3 class="article-title">
                <a class="article-link" href="#">
                  The 11th International Symposium on Optronics in Defense & Security
                </a>
              </h3>
              <p class="article-desc">
                Amidst the year-end hustle, let's take a moment to appreciate the highs and relish the successes that have defined our journey journey
              </p>
              <time class="article-date" datetime="2024-01-24">
                24.01.2024
              </time>
            </div>
          </article>

          <article class="article">
            <div class="article-image">
              <img src="/images/_temp/news-2.jpg" alt="">
            </div>

            <div class="article-info">
              <h3 class="article-title">
                <a class="article-link" href="#">
                  The 11th International Symposium on Optronics in Defense & Security
                </a>
              </h3>
              <p class="article-desc">
                Amidst the year-end hustle, let's take a moment to appreciate the highs and relish the successes that have defined our journey journey
              </p>
              <time class="article-date" datetime="2024-01-24">
                24.01.2024
              </time>
            </div>
          </article>

          <article class="article">
            <div class="article-image">
              <img src="/images/_temp/news-3.jpg" alt="">
            </div>

            <div class="article-info">
              <h3 class="article-title">
                <a class="article-link" href="#">
                  The 11th International Symposium on Optronics in Defense & Security
                </a>
              </h3>
              <p class="article-desc">
                Amidst the year-end hustle, let's take a moment to appreciate the highs and relish the successes that have defined our journey journey
              </p>
              <time class="article-date" datetime="2024-01-24">
                24.01.2024
              </time>
            </div>
          </article>
        </div>

        <div class="section-action">
          <a class="button button--secondary button--block" href="#">All news</a>
        </div>
      </section>

      <section class="sesction-media">
        <h2 class="section-title">Photo & Video</h2>

        <article class="media-item">
          <a class="media-item-link" href="/photo-video-item">
            <div class="media-item-image">
              <img src="/images/_temp/photo-2.jpg" alt="">
            </div>

            <h2 class="media-item-title">W3+Fair Wetzlar 2024</h2>
          </a>
        </article>

        <div class="section-action">
          <a class="button button--secondary button--block" href="#">All photo & video</a>
        </div>
      </section>

    </div>

  </div>
</main>
