/* Article List */

.article-list {
  display: grid;
}

@media (width < 960px) {
  .article-list {
    gap: 32px;
  }
}

@media (width >= 960px) {
  .article-list {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

/* Article */

.article {
  position: relative;
}

@media (width < 960px) {
  .article {
  }
}

@media (width >= 960px) {
  .article:first-child {
    display: grid;
    grid-column: span 2;
    grid-template-columns: 8fr 4fr;
    gap: 36px;
    align-items: center;
  }
}

/* Image */

.article-image {
  position: relative;
}

.article-image::after,
.article-image img {
  border-radius: 4px;
}

.article-image::after {
  position: absolute;
  inset: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  content: '';
}

.article-image img {
  display: block;
  object-fit: cover;
  transform: translate3d(0, 0, 0.1px);
}

@media (width < 960px) {
  .article-image {
    margin-bottom: 12px;
  }

  .article-image img {
    width: 100%;
    aspect-ratio: 345 / 234;
  }
}

@media (width >= 960px) {
  .article:not(:first-child) .article-image {
    margin-bottom: 12px;
  }

  .article-image img {
    max-width: 100%;
    height: auto;
  }

  .article-image:first-child img {
    width: 100%;
    aspect-ratio: 84 / 48;
  }
}

/* Title */

.article-title {
  margin: 0;
}

@media (width < 960px) {
  .article-title {
    margin-bottom: 2px;
    padding-right: 15px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 28px;
  }
}

@media (width >= 960px) {
  .article-title {
    margin-bottom: 6px;
    font-size: 31px;
    letter-spacing: 0.01em;
    line-height: 35px;
  }
}

/* Link */

.article-link {
  color: var(--color-black);
  text-decoration: none;
}

.article-link::after {
  position: absolute;
  inset: 0;
  content: '';
}

/* Desc */

.article-desc,
.article-date {
  margin: 0;
  color: var(--color-gray-200);
  letter-spacing: 0.01em;
}

@media (width < 960px) {
  .article-desc,
  .article-date {
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 25px;
  }

  .article-desc {
    margin-bottom: 12px;
    margin-right: 45px;
  }
}

@media (width >= 960px) {
  .article-desc {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 27px;
  }

  .article-date {
    font-size: 16px;
    line-height: 25px;
  }
}
