/* Breadcrumb */

.breadcrumb {
  color: var(--color-gray-100);
}

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: '';
  font-size: 15px;
  line-height: 21px;
}

.breadcrumb-item {
  position: relative;
}

.breadcrumb-item:not(:last-child)::after {
  position: absolute;
  top: 3px;
  left: 100%;
  width: 17px;
  height: 17px;
  margin-left: 2px;
  background-color: var(--color-blue-primary);
  -webkit-mask: url('/images/arrow-right.svg');
  mask: url('/images/arrow-right.svg');
  content: '';
}

.breadcrumb-item:nth-last-child(2)::after {
  background-color: var(--color-gray-100);
}

.breadcrumb-link {
  color: var(--color-blue-primary);
  text-decoration: none;
}

@media (width < 960px) {
  .breadcrumb {
    margin-bottom: 12px;
  }
}

@media (width >= 960px) {
  .breadcrumb {
    margin-bottom: 16px;
  }
}
