/* Button */

.button {
  display: inline-block;
  margin: 0;
  padding: 10px 24px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-decoration: none;
}

.button--primary {
  background:
    var(--color-blue-primary)
    radial-gradient(76% 213% at 2% 14%, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0));
  color: #fff;
}

.button--secondary {
  background: radial-gradient(75.97% 213.04% at 2.33% 14.13%, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(47, 129, 192, 0.2), rgba(47, 129, 192, 0.2)), #FFFFFF;
  color: var(--color-text);
}

.button--block {
  width: 100%;
}
