/* Nav */

/* Home */

.nav-home {
  display: grid;
}

@media (width < 960px) {
  .nav-home {
    max-width: max-content;
    padding: 9px 15px 10px;
  }

  .nav-home-icon {
    width: 36px;
    height: 32px;
  }
}

@media (width >= 960px) {
  .nav-home {
    align-self: center;
  }

  .nav-home-icon {
    width: 70px;
    height: 63px;
  }
}

/* Primary */

@media (width < 960px) {
  .nav-primary {
    isolation: isolate;
  }

  .nav-primary-container {
    background-color: #fff;
    border-block: 1px solid var(--color-separator);
    box-shadow: 0 -51px 0 #fff;
  }

  .header-nav .nav-primary-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: '';
    font-size: 15px;
    line-height: 21px;
    scrollbar-width: none;
  }

  .header-nav .nav-primary-list a {
    display: block;
    padding: 10px 15px 11px;
    color: var(--color-black);
    text-align: center;
    text-decoration: none;
  }
}

/* Primary List */

.nav-primary-list {
  margin: 0;
  padding: 0;
  list-style-type: '';
}

@media (width < 960px) {
  .nav-primary-list {
    align-items: center;
    height: 63px;
  }

  .nav-primary-link {
    display: block;
    color: var(--color-black);
    text-decoration: none;
  }

  .nav-primary-submenu {
    display: none;
  }
}

@media (width >= 960px) {
  .nav-primary-list {
    display: flex;
    flex: 1;
    gap: 48px;
    justify-content: center;
  }

  .nav-primary-link {
    display: block;
    padding-block: 36px 35px;
    color: var(--color-black);
    text-decoration: none;
  }

  .nav-primary-submenu {
    position: absolute;
    inset: 100% 0 auto;
    z-index: 1000;
    padding-block: 40px 64px;
    background-color: #fff;
    border-top: 1px solid var(--color-separator);
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 150ms;
  }

  .nav-primary-item:hover .nav-primary-submenu {
    opacity: 1;
    visibility: visible;
  }

  .nav-primary-sublist {
    width: min(100% - 40px, 1092px);
    margin: 0 auto;
    padding: 0;
    list-style-type: '';
    column-count: 4;
    column-width: 25%;
  }

  .nav-primary-sublist ul {
    margin: 0;
    padding: 0;
    list-style-type: '';
  }

  .nav-primary-sublist > li {
    display: grid;
    gap: 9px;
    padding-bottom: 30px;
    page-break-inside: avoid;
  }

  .nav-primary-sublist ul {
    display: grid;
    gap: 7px;
  }

  .nav-primary-sublist a {
    text-decoration: none;
  }

  .nav-primary-sublist a:hover {
    color: var(--color-link-hover);
  }

  .nav-primary-sublist > li > a {
    color: var(--color-black);
    font-weight: 700;
  }

  .nav-primary-sublist ul a {
    color: var(--color-gray-200);
  }
}

/* Secondary List */

@media (width < 960px) {
  .nav-primary ul ul,
  .nav-secondary {
    display: none;
  }

  .nav-secondary-list {
    margin: 0;
    padding: 29px 0 0;
    list-style-type: '';
    font-size: 18px;
    line-height: 27px;
  }

  .nav-secondary-link {
    display: block;
    padding: 11px 20px 12px;
    color: var(--color-black);
    text-decoration: none;
  }

  .nav-secondary-email {
    margin-top: 35px;
    color: var(--color-gray-200);
  }

  .nav-secondary-contact {
    display: none;
  }
}

@media (width >= 960px) {
  .nav-primary {
    display: grid;
    grid-template-columns: min-content auto min-content;
    order: 2;
  }

  .nav-secondary {
    order: 1;
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: 16px;
    line-height: 25px;
  }

  .nav-secondary-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .nav-secondary-list {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 0 -16px 0 0;
    padding: 0;
    list-style-type: '';
  }

  .nav-secondary-link {
    display: block;
    padding: 16px;
    color: var(--color-white);
    text-decoration: none;
  }

  .nav-secondary-contact {
    margin-left: -16px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }
}
