.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%
}

.page-body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-black);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.page--clip {
  overflow: clip;
}
