/* Section */

@media (width < 960px) {
  .section-products,
  .section-events {
    margin-bottom: 72px;
  }
}

@media (width >= 960px) {
  .section-products,
  .section-events {
    margin-bottom: 100px;
  }
}

/* Title */

.section-title {
  margin: 0;
  letter-spacing: 0.01em;
}

@media (width < 960px) {
  .section-title {
    margin-bottom: 24px;
    font-size: 31px;
    line-height: 35px;
  }
}

@media (width >= 960px) {
  .section-title {
    margin-bottom: 32px;
    font-size: 37px;
    line-height: 1;
  }
}
