<main class="main">
  <div class="container">

    <div class="layout-full">

      <div class="post">
        <nav class="breadcrumb" aria-label="breadcrumb">
          <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
              <a class="breadcrumb-link" href="#">I-Photonics</a>
            </li>
            <li class="breadcrumb-item">
              <a class="breadcrumb-link" href="#">Media center</a>
            </li>
            <li class="breadcrumb-item">
              <a class="breadcrumb-link" href="#">Company News</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
              The 11th International Symposium on Optronics in Defense & Security
            </li>
          </ol>
        </nav>

        <h1 class="main-title">The 11th International Symposium on Optronics in Defense & Security</h1>

        <div class="post-content">
          <p>We know our products and services are substantial key for the growth of the business of our clients and are working constantly to provide turn key solutions to share our enthusiasm to our customers.</p>

          <p>
            <img src="/images/_temp/photo-2.jpg" alt="">
          </p>

          <p>We know our products and services are substantial key for the growth of the business of our clients and are working constantly to provide turn key solutions to share our enthusiasm to our customers.</p>

          <h2>Photonics West 2024</h2>

          <p>Come to see us at our booth #5144 at Photonics West! We are happy to share our precision optical coating process knowhow for your actual and your future processes. Discover the potential of our systems with IBS, IBAD, DLC and PARMS technologies and delve into a variety of thin film coating applications.</p>

          <p>We know our products and services are substantial key for the growth of the business of our clients and are working constantly to provide turn key solutions to share our enthusiasm to our customers.</p>

          <p>Come to see us at our booth #5144 at Photonics West! We are happy to share our precision optical coating process knowhow for your actual and your future processes. Discover the potential of our systems with IBS, IBAD, DLC and PARMS technologies and delve into a variety of thin film coating applications.</p>

          <div class="post-swiper swiper js-post-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/images/_temp/photo-2.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="/images/_temp/photo-3.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="/images/_temp/photo-2.jpg" alt="">
              </div>
            </div>
            <div class="swiper-pagination post-swiper-pagination"></div>
          </div>

          <p>We know our products and services are substantial key for the growth of the business of our clients and are working constantly to provide turn key solutions to share our enthusiasm to our customers.</p>
        </div>

        <div class="post-more">
          <div class="caption">Read more</div>

          <div class="article-grid">
            <article class="article">
              <div class="article-image">
                <img src="/images/_temp/news-1.jpg" alt="">
              </div>

              <div class="article-info">
                <h3 class="article-title">
                  <a class="article-link" href="#">
                    The 11th International Symposium on Optronics in Defense & Security
                  </a>
                </h3>
                <p class="article-desc">
                  Amidst the year-end hustle, let's take a moment to appreciate the highs and relish the successes that have defined our journey journey
                </p>
                <time class="article-date" datetime="2024-01-24">
                  24.01.2024
                </time>
              </div>
            </article>

            <article class="article">
              <div class="article-image">
                <img src="/images/_temp/news-2.jpg" alt="">
              </div>

              <div class="article-info">
                <h3 class="article-title">
                  <a class="article-link" href="#">
                    The 11th International Symposium on Optronics in Defense & Security
                  </a>
                </h3>
                <p class="article-desc">
                  Amidst the year-end hustle, let's take a moment to appreciate the highs and relish the successes that have defined our journey journey
                </p>
                <time class="article-date" datetime="2024-01-24">
                  24.01.2024
                </time>
              </div>
            </article>

            <article class="article">
              <div class="article-image">
                <img src="/images/_temp/news-3.jpg" alt="">
              </div>

              <div class="article-info">
                <h3 class="article-title">
                  <a class="article-link" href="#">
                    The 11th International Symposium on Optronics in Defense & Security
                  </a>
                </h3>
                <p class="article-desc">
                  Amidst the year-end hustle, let's take a moment to appreciate the highs and relish the successes that have defined our journey journey
                </p>
                <time class="article-date" datetime="2024-01-24">
                  24.01.2024
                </time>
              </div>
            </article>
          </div>

        </div>
      </div>

    </div>

  </div>
</main>

<!-- Swiper JS -->
<script src="/scripts/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".js-post-swiper", {
    pagination: {
      el: '.post-swiper-pagination',
      clickable: true,
    },
  });
</script>
