{% if currentLevelMenuItems %}
    <nav class="inline-nav">
        <ul class="inline-nav-list">
            {% for currentLevelMenuItem in currentLevelMenuItems.items %}
                <li class="inline-nav-item">
                    <a class="inline-nav-link" href="{{ currentLevelMenuItem.url }}"
                       aria-current="{% if currentLevelMenuItem.isActive %}page{% endif %}">{{ currentLevelMenuItem.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}