{% if linkedInUrl %}
    <a class="social-link social-link--linkedin" href="{{ linkedInUrl }}" aria-label="LinkedIn" target="_blank"></a>
{% endif %}
{% if youtubeUrl %}
    <a class="social-link social-link--instagram" href="{{ youtubeUrl }}" aria-label="YouTube" target="_blank"></a>
{% endif %}
{% if instagramUrl %}
    <a class="social-link social-link--youtube" href="{{ instagramUrl }}" aria-label="Instagram" target="_blank"></a>
{% endif %}