<a class="social-link social-link--linkedin" href="{{ linkedInUrl }}" aria-label="LinkedIn" target="_blank"></a>
<a class="social-link social-link--instagram" href="{{ instagramUrl }}" aria-label="Instagram" target="_blank"></a>
<a class="social-link social-link--youtube" href="{{ youtubeUrl }}" aria-label="YouTube" target="_blank"></a>