{% extends 'base.html.twig' %}

{% block title %}{{ productCategory.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ productCategory.name }}</h1>
    </div>
{% endblock %}
