{% extends 'base.html.twig' %}

{% block meta_seo %}
    {% include 'blocks/meta.html.twig' with {'meta' : product.seo} %}
{% endblock %}

{% block body %}
<div class="container">
    {% include 'blocks/breadcrumbs.html.twig' with {'breadcrumbs': build_breadcrumbs(product)} %}
    <h1>{{ product.name }}</h1>
    <img src="{{ asset('uploads/product/' ~ product.images|first) }}" alt="{{ product.name }}">
</div>
{% endblock %}
