<main class="main">
  <div class="container">

    <div class="layout-full">

      <nav class="breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb-list">
          <li class="breadcrumb-item">
            <a class="breadcrumb-link" href="#">I-Photonics</a>
          </li>
          <li class="breadcrumb-item">
            <a class="breadcrumb-link" href="#">Media center</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            Photo & Video
          </li>
        </ol>
      </nav>

      <h1 class="main-title">Photo & Video</h1>

      <div class="media-list">
        <article class="media-item">
          <a class="media-item-link" href="/photo-video-item">
            <div class="media-item-image">
              <img src="/images/_temp/photo-2.jpg" alt="">
            </div>

            <h2 class="media-item-title">W3+Fair Wetzlar 2024</h2>
          </a>
        </article>

        <article class="media-item">
          <a class="media-item-link" href="/photo-video-item">
            <div class="media-item-image">
              <img src="/images/_temp/photo-2.jpg" alt="">
            </div>

            <h2 class="media-item-title">W3+Fair Wetzlar 2024</h2>
          </a>
        </article>

        <article class="media-item">
          <a class="media-item-link" href="/photo-video-item">
            <div class="media-item-image">
              <img src="/images/_temp/photo-2.jpg" alt="">
            </div>

            <h2 class="media-item-title">W3+Fair Wetzlar 2024</h2>
          </a>
        </article>
      </div>

      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="pagination-item">
            <a class="pagination-prev" href="#"></a>
          </li>
          <li class="pagination-item">
            <a class="pagination-link" href="#">1</a>
          </li>
          <li class="pagination-item">
            <a class="pagination-link" href="#">2</a>
          </li>
          <li class="pagination-item">
            <a class="pagination-link" href="#">3</a>
          </li>
          <li class="pagination-item">
            <a class="pagination-next" href="#"></a>
          </li>
        </ul>
      </nav>

    </div>

  </div>
</main>
