:root {
  --color-black: #0c0d0e;
  --color-gray-200: #757575;
  --color-gray-100: #a8a8a8;
  --color-blue-primary: #2f81c0;
  --color-white: #fffffe;
  --color-background: #f3f3f3;
  --color-separator: #e0e8ee;
  --color-link: var(--color-blue-primary);
  --color-link-hover: #3797e0;
  --gradient-primary: linear-gradient(234deg, #b6d7f9 0.87%, var(--color-blue-primary) 122%);
  --gradient-secondary: linear-gradient(234deg, #4682bd 0.87%, #fff 122%);
}
