<header class="header">
  <div class="header-nav nav">
    {% include 'nav-primary.njk' %}
    {% include 'nav-secondary.njk' %}
  </div>

  <div class="header-menu header-menu--closed">
    <div class="menu">
      <div class="menu-caption">Catalog</div>

      <div class="menu-section">
        <button class="menu-slide-open js-menu-slide-open" type="button">
          Vacuum Coating Systems
        </button>

        <div class="menu-slide menu-slide--closed">
          <button class="menu-slide-close js-menu-slide-close" type="button">
            Vacuum Coating Systems
          </button>

          <ul class="menu-slide-list">
            <li>
              <a href="#">ORTUS platform</a>
              <ul>
                <li><a href="#">ORTUS-700</a></li>
                <li><a href="#">ORTUS-900</a></li>
                <li><a href="#">ORTUS-1100</a></li>
                <li><a href="#">ORTUS-1500</a></li>
              </ul>
            </li>
            <li>
              <a href="#">LIDIZ platform</a>
              <ul>
                <li><a href="#">LIDIZ-700</a></li>
                <li><a href="#">LIDIZ-1100</a></li>
              </ul>
            </li>
            <li>
              <a href="#">ASTRA platform</a>
              <ul>
                <li><a href="#">ASTRA-M</a></li>
                <li><a href="#">ASTRA-S</a></li>
              </ul>
            </li>
            <li>
              <a href="#">AURORA platform</a>
              <ul>
                <li><a href="#">AURORA-V</a></li>
                <li><a href="#">AURORA-I</a></li>
              </ul>
            </li>
            <li><a href="#">MERIDIAN</a></li>
            <li><a href="#">IZOMET</a></li>
            <li><a href="#">DIAMANTA</a></li>
            <li>
              <a href="#">Customized equipment</a>
              <ul>
                <li><a href="#">IZOLAB</a></li>
                <li><a href="#">BELIZA</a></li>
                <li><a href="#">CLUSTER</a></li>
                <li><a href="#">ELATO-P</a></li>
                <li><a href="#">ALCOR</a></li>
                <li><a href="#">SMART</a></li>
                <li><a href="#">IZOTERM</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="menu-section">
        <button class="menu-slide-open js-menu-slide-open" type="button">OEM components</button>

        <div class="menu-slide menu-slide--closed">
          <button class="menu-slide-close js-menu-slide-close" type="button">OEM components</button>

          <ul class="menu-slide-list">
            <li>
              <a href="#">Optical filters</a>
              <ul>
                <li><a href="#">Narrowband filters</a></li>
                <li><a href="#">Bandpass filters</a></li>
                <li><a href="#">Broadband filters</a></li>
                <li><a href="#">Cut-Off filters</a></li>
                <li><a href="#">Neutral Density (ND) Filters</a></li>
                <li><a href="#">Notch filters</a></li>
                <li><a href="#">Multi-zone filters</a></li>
                <li><a href="#">Multiband filters</a></li>
                <li><a href="#">Linear tunable filters</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Optical mirrors</a>
              <ul>
                <li><a href="#">Single- and multi-wave mirrors</a></li>
                <li><a href="#">Broadband mirrors</a></li>
                <li><a href="#">Dichroic mirrors</a></li>
                <li><a href="#">Metal mirrors</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Beamsplitters</a>
              <ul>
                <li><a href="#">Single wave beamsplitters</a></li>
                <li><a href="#">Broadband beamsplitters</a></li>
                <li><a href="#">Polarizers</a></li>
              </ul>
            </li>
            <li>
              <a href="#">AR coatings</a>
              <ul>
                <li><a href="#">Single and multi-wavelength antireflection coating</a></li>
                <li><a href="#">Broadband antireflection coatings</a></li>
                <li><a href="#">Broadband antireflection coatings for IR</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Display glasses</a>
              <ul>
                <li><a href="#">Anti-glare display glasses</a></li>
                <li><a href="#">Heated display glasses</a></li>
                <li><a href="#">Glass with EMI protection</a></li>
              </ul>
            </li>
            <li><a href="#">Transparent conductive coatings</a></li>
            <li><a href="#">DLC coating</a></li>
            <li><a href="#">Hydrophobic and oleophobic coatings</a></li>
          </ul>
        </div>
      </div>

      <div class="menu-section">
        <a class="menu-slide-link" href="#">Thin film coatings</a>
      </div>

      <div class="menu-secondary">
        <ul class="menu-secondary-list">
          <li><a class="menu-secondary-link" href="#">Technology</a></li>
          <li><a class="menu-secondary-link" href="#">Applications</a></li>
          <li><a class="menu-secondary-link" href="#">Possibilities</a></li>
          <li><a class="menu-secondary-link" href="#">Media center</a></li>
          <li><a class="menu-secondary-link" href="#">Partners</a></li>
          <li><a class="menu-secondary-link" href="#">Membership</a></li>
          <li><a class="menu-secondary-link" href="#">Downloads</a></li>
          <li><a class="menu-secondary-link" href="#">Contacts</a></li>
        </ul>
      </div>

      <div class="menu-extra">
        <a class="menu-extra-link" href="mailto:info@i-photonics.lt">info@i-photonics.lt</a>
      </div>
    </div>
  </div>

  <button class="header-menu-button" type="button" aria-expanded="false" aria-controls="menu" aria-label="Toggle menu">
    <svg class="header-icon-menu" width="50" height="50" aria-hidden="true">
      <use href="/images/icons.svg#menu"></use>
    </svg>
    <svg class="header-icon-close" width="50" height="50" aria-hidden="true">
      <use href="/images/icons.svg#close"></use>
    </svg>
  </button>

  <button class="header-search-toggle" type="button" aria-expanded="false" aria-controls="search-form" aria-label="Toggle search">
    <svg class="header-icon-search" width="50" height="50" aria-hidden="true">
      <use href="/images/icons.svg#search"></use>
    </svg>
    <svg class="header-icon-close" width="50" height="50" aria-hidden="true">
      <use href="/images/icons.svg#close"></use>
    </svg>
  </button>
</header>
