<nav class="nav-secondary" aria-label="Secondary">
  <div class="nav-secondary-container container">
    <ul class="nav-secondary-list">
      {% for item in extranav %}
        <li><a class="nav-secondary-link" href="{{ item.link }}">{{- item.title -}}</a></li>
      {% endfor %}
    </ul>
    <a class="nav-secondary-link nav-secondary-email" href="mailto:info@i-photonics.lt">info@i-photonics.lt</a>
    <a class="nav-secondary-link nav-secondary-contact" href="#">Contact Us</a>
  </div>
</nav>
