<nav class="nav-primary container" aria-label="Primary">
  <a class="nav-home" href="/" aria-label="Home">
    <img class="nav-home-icon" src="/images/logo.svg" width="70" height="63" alt="{{ global.title }} logo">
  </a>

  <div class="nav-primary-container">

    <ul class="nav-primary-list">
      <li class="nav-primary-item">
        <a class="nav-primary-link" href="#">Vacuum coating systems</a>
        <div class="nav-primary-submenu">
          <ul class="nav-primary-sublist">
            <li>
              <a href="#">ORTUS platform</a>
              <ul>
                <li><a href="#">ORTUS-700</a></li>
                <li><a href="#">ORTUS-900</a></li>
                <li><a href="#">ORTUS-1100</a></li>
                <li><a href="#">ORTUS-1500</a></li>
              </ul>
            </li>
            <li>
              <a href="#">LIDIZ platform</a>
              <ul>
                <li><a href="#">LIDIZ-700</a></li>
                <li><a href="#">LIDIZ-1100</a></li>
              </ul>
            </li>
            <li>
              <a href="#">ASTRA platform</a>
              <ul>
                <li><a href="#">ASTRA-M</a></li>
                <li><a href="#">ASTRA-S</a></li>
              </ul>
            </li>
            <li>
              <a href="#">AURORA platform</a>
              <ul>
                <li><a href="#">AURORA-V</a></li>
                <li><a href="#">AURORA-I</a></li>
              </ul>
            </li>
            <li><a href="#">MERIDIAN</a></li>
            <li><a href="#">IZOMET</a></li>
            <li><a href="#">DIAMANTA</a></li>
            <li>
              <a href="#">Customized equipment</a>
              <ul>
                <li><a href="#">IZOLAB</a></li>
                <li><a href="#">BELIZA</a></li>
                <li><a href="#">CLUSTER</a></li>
                <li><a href="#">ELATO-P</a></li>
                <li><a href="#">ALCOR</a></li>
                <li><a href="#">SMART</a></li>
                <li><a href="#">IZOTERM</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-primary-item">
        <a class="nav-primary-link" href="#">Thin film coating</a>
      </li>
      <li class="nav-primary-item">
        <a class="nav-primary-link" href="#">OEM components</a>
      </li>
    </ul>
  </div>

  <form class="header-search header-search--closed" name="search-form" action="/search/">
    <div class="header-search-container">
      <label class="header-search-label" for="search-field">Search</label>

      <input class="header-search-input" type="text" id="search-field" name="query" placeholder="Search" autocomplete="off">

      <button class="header-search-button" type="submit">
        <svg class="header-icon-search" width="24" height="24" aria-hidden="true">
          <use href="/images/icons.svg#search-small"></use>
        </svg>
      </button>
    </div>
  </form>
</nav>
