<div class="product-cards">
  <div class="product-card">
    <div class="product-card-image">
      <img src="/images/_temp/photo-1.jpg" alt="">
    </div>
    <h4 class="product-card-title">
      <a class="product-card-link" href="#">ORTUS-700</a>
    </h4>
    <div class="product-card-desc">
      Substrate holder:<br>Dome ø620 mm, Planetary 3x ø250 mm. Automatic Optical control (OCP BB, SW) .2xE-gun, Resistance evap., End hall assist, RF IBS assist.
    </div>
  </div>

  <div class="product-card">
    <div class="product-card-image">
      <img src="/images/_temp/image-1.png" alt="">
    </div>
    <h4 class="product-card-title">
      <a class="product-card-link" href="#">ORTUS-700</a>
    </h4>
    <div class="product-card-desc">
      Substrate holder:<br>Dome ø620 mm, Planetary 3x ø250 mm. Automatic Optical control (OCP BB, SW) .2xE-gun, Resistance evap., End hall assist, RF IBS assist.
    </div>
  </div>

  <div class="product-card">
    <div class="product-card-image">
      <img src="/images/_temp/photo-1.jpg" alt="">
    </div>
    <h4 class="product-card-title">
      <a class="product-card-link" href="#">ORTUS-700</a>
    </h4>
    <div class="product-card-desc">
      Substrate holder:<br>Dome ø620 mm, Planetary 3x ø250 mm. Automatic Optical control (OCP BB, SW) .2xE-gun, Resistance evap., End hall assist, RF IBS assist.
    </div>
  </div>

  <div class="product-card">
    <div class="product-card-image">
      <img src="/images/_temp/image-1.png" alt="">
    </div>
    <h4 class="product-card-title">
      <a class="product-card-link" href="#">ORTUS-700</a>
    </h4>
    <div class="product-card-desc">
      Substrate holder:<br>Dome ø620 mm, Planetary 3x ø250 mm. Automatic Optical control (OCP BB, SW) .2xE-gun, Resistance evap., End hall assist, RF IBS assist.
    </div>
  </div>
</div>
