<div class="sidenav">
  <ul class="sidenav-list">
    <li class="sidenav-item">
      <div class="sidenav-wrapper">
        <a class="sidenav-link" href="#" aria-current="page">Vacuum Coating Equipment</a>
        <button class="sidenav-toggle js-sidenav-toggle" type="button" aria-expanded="false"></button>
      </div>

      <ul class="sidenav-sublist is-active">
        <li class="sidenav-sublist-item">
          <div class="sidenav-wrapper">
            <a class="sidenav-link" href="#">ORTUS platform</a>
            <button class="sidenav-toggle js-sidenav-toggle" type="button" aria-expanded="false"></button>
          </div>

          <ul class="sidenav-sublist">
            <li class="sidenav-sublist-item">
              <div class="sidenav-wrapper">
                <a class="sidenav-link" href="#">ORTUS-700</a>
              </div>
            </li>
          </ul>
        </li>

        <li class="sidenav-sublist-item">
          <div class="sidenav-wrapper">
            <a class="sidenav-link" href="#">LIDIZ platform</a>
            <button class="sidenav-toggle js-sidenav-toggle" type="button" aria-expanded="true"></button>
          </div>

          <ul class="sidenav-sublist is-active">
            <li class="sidenav-sublist-item">
              <div class="sidenav-wrapper">
                <a class="sidenav-link" href="#">LIDIZ-700</a>
                <button class="sidenav-toggle js-sidenav-toggle" type="button" aria-expanded="true"></button>
              </div>

              <ul class="sidenav-sublist is-active">
                <li class="sidenav-sublist-item">
                  <div class="sidenav-wrapper">
                    <a class="sidenav-link" href="#" aria-current="page">LIDIZ-700</a>
                  </div>
                </li>

                <li class="sidenav-sublist-item">
                  <div class="sidenav-wrapper">
                    <a class="sidenav-link" href="#">LIDIZ-700</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="sidenav-item">
      <div class="sidenav-wrapper">
        <a class="sidenav-link" href="#">OEM components</a>
      </div>
    </li>

    <li class="sidenav-item">
      <div class="sidenav-wrapper">
        <a class="sidenav-link" href="#">Thin film coating</a>
      </div>
    </li>
  </ul>
</div>
