{% if technology %}
    <section class="featured featured--secondary">
        <h2 class="featured-title">Technology</h2>
        <div class="featured-box content">
            <h3>{{ technology.name }}</h3>

            <p>{{ technology.summary|nl2br }}</p>
            <a class="button button--primary" href="{{ generate_technology_url(technology) }}">Read more</a>
        </div>
    </section>
{% endif %}