<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Главная{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
        <link rel="stylesheet" href="{{ asset('app/styles/index.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    {% set menuItems = generate_product_category_menu() %}
        {% block header_menu %}
            {% include 'menu/header.html.twig' with {'menuItems' : menuItems} %}
        {% endblock %}
        {% block left_sidebar %}
            {% include 'menu/left_sidebar.html.twig' with {'menuItems' : menuItems} %}
        {% endblock %}
        {% block body %}

        {% endblock %}
        {% block footer %}
            {% include 'menu/footer.html.twig' with {'menuItems' : menuItems} %}
        {% endblock %}
        <script src="{{ asset('app/scripts/index.js') }}"></script>
        <script src="{{ asset('app/scripts/tabs.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script>
            (function() {
                'use strict';

                const breakpoint = window.matchMedia( '(min-width: 960px)' );

                let eventSwiper;

                const breakpointChecker = function() {
                    if ( breakpoint.matches === true ) {
                        return enableSwiper();
                    } else if ( breakpoint.matches === false ) {
                        if ( eventSwiper !== undefined ) eventSwiper.destroy( true, true );
                        return;
                    }
                };

                const enableSwiper = function() {
                    eventSwiper = new Swiper('.event-cards', {
                        slidesPerView: 'auto',
                        spaceBetween: 0,
                        centeredSlides: true,
                        pagination: {
                            el: '.swiper-pagination',
                            clickable: true,
                        },
                        navigation: {
                            nextEl: '.swiper-button-next',
                            prevEl: '.swiper-button-prev',
                        },
                    });
                };

                breakpoint.addEventListener('change', (event) => {
                    if (event.matches) {
                        breakpointChecker();
                    }
                });

                breakpointChecker();
            })();
        </script>
    </body>
</html>
