<!DOCTYPE html>
<html class="page" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta_seo %}
            {% include 'blocks/meta.html.twig' %}
        {% endblock %}
        <title>{% block title %}I-Photonics{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/fav.ico') }}" type="image/x-icon">
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('styles/index.css') }}?v=12345678">
    </head>
    <body class="page-body">
        {% set menu = generate_product_category_menu() %}

        {% block header_menu %}
            {% include 'menu/header.html.twig' with {'menu' : menu} %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}
            {% include 'menu/footer.html.twig' with {'menu' : menu} %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        {% include 'blocks/modal.html.twig' %}
        <script src="{{ asset('scripts/index.js') }}"></script>
        <script src="{{ asset('scripts/tabs.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
