<!DOCTYPE html>
<html class="page" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta_seo %}
            {% include 'blocks/meta.html.twig' %}
        {% endblock %}
        <title>{% block title %}I-Photonics{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('app/search-result.css') }}">
        <link rel="stylesheet" href="{{ asset('app/partner.css') }}">
        <link rel="stylesheet" href="{{ asset('app/styles/index.css') }}">
    </head>
    <body class="page-body">
        {% set menuItems = generate_product_category_menu() %}

        {% block header_menu %}
            {% include 'menu/header.html.twig' with {'menu' : menuItems} %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}
            {% include 'menu/footer.html.twig' with {'menu' : menuItems} %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
        <script src="{{ asset('app/scripts/index.js') }}"></script>
    </body>
</html>
