{% extends 'base.html.twig' %}

{% block body %}
    <main class="main">
        <div class="container">
            Search by: {{ searchResponse.searchText }}
            {% for searchResponseItem in searchResponse.searchResponseCollection %}
                <p>{{ searchResponseItem.type.value }}</p>
                <p><a href="{{ searchResponseItem.url }}">{{ searchResponseItem.title }}</a></p>
            {% endfor %}
        </div>
    </main>

{% endblock %}
