<main class="main">
  <div class="container">

    <div class="layout">
      <div class="layout-content">

        <nav class="breadcrumb" aria-label="breadcrumb">
          <ol class="breadcrumb-list">
            <li class="breadcrumb-item">
              <a class="breadcrumb-link" href="#">I-Photonics</a>
            </li>
            <li class="breadcrumb-item">
              <a class="breadcrumb-link" href="#">Vacuum Coating Equipment</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
              LIDIZ platform
            </li>
          </ol>
        </nav>

        <h1 class="main-title mobile-only">LIZID-700</h1>

        <div class="card">
          <div class="card-gallery">

            <div class="gallery swiper js-gallery">
              <div class="gallery-wrapper swiper-wrapper">
                <div class="gallery-slide swiper-slide">
                  <img src="/images/_temp/hero-primary.png" alt="">
                </div>
                <div class="gallery-slide swiper-slide">
                  <img src="/images/_temp/hero-primary.png" alt="">
                </div>
                <div class="gallery-slide swiper-slide">
                  <img src="/images/_temp/hero-primary.png" alt="">
                </div>
              </div>

              <button class="gallery-zoom" type="button"></button>

              <div class="gallery-controls">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
            </div>

            <div class="gallery-thumbs swiper js-gallery-thumbs" thumbsSlider="">
              <div class="gallery-thumbs-wrapper swiper-wrapper">
                <div class="gallery-thumb swiper-slide">
                  <img src="/images/_temp/hero-primary.png" width="40" height="40" alt="">
                </div>
                <div class="gallery-thumb swiper-slide">
                  <img src="/images/_temp/hero-primary.png" width="40" height="40" alt="">
                </div>
                <div class="gallery-thumb swiper-slide">
                  <img src="/images/_temp/hero-primary.png" width="40" height="40" alt="">
                </div>
              </div>
            </div>

          </div>

          <div class="card-info">
            <h1 class="main-title desktop-only">LIZID-700</h1>

            <div class="card-about">
              <p>
                Substrate holder:<br>
                Dome ø620 mm, Planetary 3x ø250 mm. Automatic Optical control (OCP BB, SW).<br>
                2xE-gun, Resistance evap., End hall assist, RF IBS assist.
              </p>

              <p>
                <a class="link-doc" href="#">Optical coatings manufacturer catalogue.pdf</a>
              </p>
            </div>

            <div class="card-action">
              <a class="button button--primary" href="#">Contact Us</a>
            </div>
          </div>
        </div>

        <div class="content">
          <p>ORTUS is a family of coaters based on electron beam evaporation technology with ion assistance. For details about Ion Beam Assisted Deposition please click here.</p>

          <p>From the compact sized <a href="#">Ortus 700</a> up to the largest Ortus 1500 our ORTUS coater portfolio can be configurated with a variety of options needed to produce high density IAD under a stable environment.</p>

          <p>Our self-developed fully automated optical monitoring system, OCP SingleWave and OCP BroadBand, enable real-time optimization of optical coating process and designs and provide automation of complex filters coatings at highest accuracy and repeatability. This makes ORTUS a reliable and powerful production tool for both an R&D lab and especially for coating companies in the need of stable high quality production capabilities.</p>

          <p>Coatings Applications:</p>

          <ul>
            <li>Visible and Infrared Optics</li>
            <li>Lasers</li>
            <li>Customized application</li>
          </ul>

          <p>Thin films made in ORTUS are used in:</p>

          <ul>
            <li>Sensors</li>
            <li>Optical systems for objectives</li>
            <li>Microscopes</li>
            <li>Telescopes</li>
            <li>Laser Optics</li>
            <li>R&D</li>
          </ul>

          <p>Our engineering team is always ready to study your requirements and tasks and offer the optimal solution to get exactly what you need.</p>

          <p>For details about configuration please see description for each model and contact us. For detailed information about our ORTUS IAD coater portfolio and its coating capabilities please download the ORTUS CATALOGUE.</p>
        </div>

        <div class="listing">
          <div class="listing-card">
            <div class="listing-card-image">
              <img src="/images/_temp/image-1.png" alt="">
            </div>
            <h4 class="listing-card-title">
              <a class="listing-card-link" href="#">Narrowband filters</a>
            </h4>
            <div class="listing-card-desc">
              RF IBS for sputtering and assistance.Automatic Optical control (OCP BB, SW, Duo, Laser).<br>
              Multiple choice of substrate holder (single disk, planetary, High speed)<br>
              Load-lock
            </div>
          </div>

          <div class="listing-card">
            <div class="listing-card-image">
              <img src="/images/_temp/image-1.png" alt="">
            </div>
            <h4 class="listing-card-title">
              <a class="listing-card-link" href="#">Narrowband filters</a>
            </h4>
            <div class="listing-card-desc">
              RF IBS for sputtering and assistance.Automatic Optical control (OCP BB, SW, Duo, Laser).<br>
              Multiple choice of substrate holder (single disk, planetary, High speed)<br>
              Load-lock
            </div>
          </div>

          <div class="listing-card">
            <div class="listing-card-image">
              <img src="/images/_temp/image-1.png" alt="">
            </div>
            <h4 class="listing-card-title">
              <a class="listing-card-link" href="#">Narrowband filters</a>
            </h4>
            <div class="listing-card-desc">
              RF IBS for sputtering and assistance.Automatic Optical control (OCP BB, SW, Duo, Laser).<br>
              Multiple choice of substrate holder (single disk, planetary, High speed)<br>
              Load-lock
            </div>
          </div>
        </div>

        <div class="catalog">
          <div class="catalog-card">
            <div class="catalog-card-image">
              <img src="/images/_temp/catalog-1.jpg" alt="">
            </div>
            <h4 class="catalog-card-title">
              <a class="catalog-card-link" href="#">Inline coating systems</a>
            </h4>
            <div class="catalog-card-desc">
              The rapid development of the flat panel display (FPD) industry and then the touch industry in the 2000s and 2010s led
            </div>
          </div>

          <div class="catalog-card">
            <div class="catalog-card-image">
              <img src="/images/_temp/catalog-2.jpg" alt="">
            </div>
            <h4 class="catalog-card-title">
              <a class="catalog-card-link" href="#">Batch coating systems</a>
            </h4>
          </div>

          <div class="catalog-card">
            <div class="catalog-card-image">
              <img src="/images/_temp/catalog-2.jpg" alt="">
            </div>
            <h4 class="catalog-card-title">
              <a class="catalog-card-link" href="#">Batch coating systems</a>
            </h4>
          </div>

          <div class="catalog-card">
            <div class="catalog-card-image">
              <img src="/images/_temp/catalog-1.jpg" alt="">
            </div>
            <h4 class="catalog-card-title">
              <a class="catalog-card-link" href="#">Inline coating systems</a>
            </h4>
            <div class="catalog-card-desc">
              The rapid development of the flat panel display (FPD) industry and then the touch industry in the 2000s and 2010s led
            </div>
          </div>
        </div>

        <section class="featured featured--primary">
          <h2 class="featured-title">Equipment</h2>

          <div class="featured-box">

            <div class="listing">
              <div class="listing-card">
                <div class="listing-card-image">
                  <img src="/images/_temp/image-1.png" alt="">
                </div>
                <h4 class="listing-card-title">
                  <a class="listing-card-link" href="#">Narrowband filters</a>
                </h4>
                <div class="listing-card-desc">
                  RF IBS for sputtering and assistance.Automatic Optical control (OCP BB, SW, Duo, Laser).<br>
                  Multiple choice of substrate holder (single disk, planetary, High speed)<br>
                  Load-lock
                </div>
              </div>

              <div class="listing-card">
                <div class="listing-card-image">
                  <img src="/images/_temp/image-1.png" alt="">
                </div>
                <h4 class="listing-card-title">
                  <a class="listing-card-link" href="#">Narrowband filters</a>
                </h4>
                <div class="listing-card-desc">
                  RF IBS for sputtering and assistance.Automatic Optical control (OCP BB, SW, Duo, Laser).<br>
                  Multiple choice of substrate holder (single disk, planetary, High speed)<br>
                  Load-lock
                </div>
              </div>

              <div class="listing-card">
                <div class="listing-card-image">
                  <img src="/images/_temp/image-1.png" alt="">
                </div>
                <h4 class="listing-card-title">
                  <a class="listing-card-link" href="#">Narrowband filters</a>
                </h4>
                <div class="listing-card-desc">
                  RF IBS for sputtering and assistance.Automatic Optical control (OCP BB, SW, Duo, Laser).<br>
                  Multiple choice of substrate holder (single disk, planetary, High speed)<br>
                  Load-lock
                </div>
              </div>
            </div>

          </div>
        </section>

        <section class="featured featured--secondary">
          <h2 class="featured-title">Technology</h2>

          <div class="featured-box content">
            <h3>Inline coating systems</h3>

            <p>The rapid development of the flat panel display (FPD) industry and then the touch industry in the 2000s and 2010s led to the need to increase production productivity while reducing costs. At the same time, special attention was paid to the stability of the deposition process, ease of maintenance and the possibility to work with substrates of diagonal size up to 65+".</p>

            <p>The solution was found in continuously working vacuum process coating systems called INLINE. In most cases magnetron based coating systems are designed to work without interruption with predefined cycle times as a conveyor during several weeks that allow to increase the d...</p>

            <a class="button button--primary" href="#">Read more</a>
          </div>
        </section>
      </div>

      <div class="layout-sidebar">
        {% include 'sidenav.njk' %}
      </div>
    </div>

  </div>
</main>

<!-- Swiper JS -->
<script src="/scripts/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".js-gallery-thumbs", {
    spaceBetween: 1,
    freeMode: true,
  });
  var swiper2 = new Swiper(".js-gallery", {
    spaceBetween: 10,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    thumbs: {
      swiper: swiper,
    },
  });
</script>
