{% set footerContacts = get_footer_contacts() %}

<ul>
    {% for item in menuItems %}
        <li>{{ item.name }}</li>
        {% if item.children %}
            {% for child in item.children %}
                {{ child.name }}
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>