<ul>
    {% for item in menuItems %}
        <li>{{ item.name }}</li>
        {% if item.children %}
            {% for child in item.children %}
                {{ child.name }}
                    {% if child.children %}
                            {% for childItem in child.children %}
                                    {{ childItem.name }}
                            {% endfor %}
                    {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>