<main class="main">
    <div class="container">
        <div class="layout-full">
            <div class="error-status">
                <h1 class="error-status-title">404</h1>
                <div class="error-status-text">
                    <p>Oops! Something went wrong.</p>
                    <p>The requested page does not exist or has been deleted.</p>
                </div>
                <a class="button button--primary" href="/">Go to main</a>
            </div>
        </div>
    </div>
</main>
